extends ../layout

block content
	.container
		if error.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') ×
				= error
		if success.length
			.alert.alert-success.animated.fadeInUp.opt-alert
				button.close(data-dismiss='alert') ×
				i.fa.fa-check
				= success
		if errors.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Fill out company information before posting jobs"
		if signUp.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Please fill out your name and bio before applying to jobs."
		.row.mt
			.col-md-10.col-md-offset-1
				.profile-wrap
					if user.userType=='mom'
						.page-header
							.prof-label-header
								if user.profile.name
									h3  #{user.profile.name}'s Profile
								else 
									h3  Profile Information 
						.row.mt
							form.form-horizontal(action='/account/profile', method='POST')
								.col-md-9
									.row.mt
										.col-md-12
											.col-md-3.col-md-offset-1.prof-column
												if user.profile.picture
													img.prof-pic.pagination-centered(src='#{user.profile.picture}', height='130px')
												else
													img.prof-pic.pagination-centered(src='/images/linkedin-default.jpg', height='130px')
											.col-md-8
												.form-group
													label.col-md-2.control-label(for='name') Name
													.col-md-8
														input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
												.form-group
													label.col-md-2.control-label(for='email') Email
													.col-md-8
														input.form-control(type='email', name='email', id='email', value='#{user.email}')
									.prof-bottom-wrapper
										.row.mt
											//- .col-md-9.col-md-offset-1
											.col-md-12
												.form-group
													.row.mt
														.col-md-9.col-md-offset-1
															label.control-label(for='education') Education
													.row.mt
														.col-md-9.col-md-offset-1
															textarea.form-control(type='text', name='education', id='education')
																if user.education[0]
																	if typeof(user.education[0])==='object'
																		| #{user.education.pop().schoolName}
																		each e in user.education
																			| , #{e.schoolName}
																	else
																		| #{user.education}
										.row.mt
											.col-md-12
												.form-group
													.row.mt
														.col-md-9.col-md-offset-1
															label.control-label(for='bio') Bio
													.row.mt
														.col-md-9.col-md-offset-1
															textarea.form-control(type='textarea', name='bio', id='bio')
																| #{user.bio}
										.row.mt
											.col-md-12
												.form-group
													.row.mt
														.col-md-9.col-md-offset-1
															label.control-label(for='interests') Interests
													.row.mt
														.col-md-9.col-md-offset-1
															textarea.form-control(type='text', name='interests', id='interests')
																| #{user.interests}
										.row.mt
											.col-md-12
												.form-group
													.row.mt
														.col-md-9.col-md-offset-1
															label.control-label(for='positions') Professional Experience
													.row.mt
														.col-md-9.col-md-offset-1
															textarea.form-control(type='text', name='positions', id='positions')
																if user.positions[0]
																	if typeof(user.positions[0])==='object'
																		| #{user.positions.pop().title}
																		each p in user.positions
																			| , #{p.title}
																	else
																		| #{user.positions}
										.row.mt
											.col-md-12
												.form-group
													.row.mt
														.col-md-9.col-md-offset-1
															label.control-label(for='skills') Skills
													.row.mt
														.col-md-9.col-md-offset-1
															textarea.form-control(type='text', name='skills', id='skills')
																if user.skills[0]
																	| #{user.skills.pop()}
																	each s in user.skills
																		| , #{s}
										.row.mt
											.col-md-12
												.form-group
													.row.mt
														.col-md-6.col-md-offset-1
															label.control-label(for='location') Location
													.row.mt
														.col-md-6.col-md-offset-1
															input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
										.row.mt
											.col-md-12
												.form-group
													.row.mt
														.col-md-6.col-md-offset-1
															label.control-label(for='website') LinkedIn Profile
													.row.mt
														.col-md-6.col-md-offset-1
															input.form-control(type='text', name='website', id='website', value='#{user.linkedinURL}')
										br
										br
										br
										br
								.col-md-3
									.form-group
										.row.mt
											.col-md-12
												button.btn.btn.btn-primary.opt-btn-update(type='submit') Update Profile
										.row.mt
											.col-md-12
												a.btn.btn.btn-primary(href="/auth/linkedin") Sync with Linkedin
												//- a.btn.btn.btn-primary(href="/auth/linkedin",data-toggle='modal', data-target='#linkedInLoading') Sync with Linkedin
									//- #linkedInLoading.modal.fade(tabindex='-1', role='dialog', aria-labelledby='linkedInLoadingLabel', aria-hidden='true')
										.modal-dialog
											.modal-content
												.modal-header
													button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
													h4#linkedInLoadingLabel.modal-title Syncing with LinkedIn....
												.modal-body
													| ...
					else if user.userType=='employer'
						.biz-prof-wrapper
							.page-header
								h3 Company Information

							form.form-horizontal(action='/account/profile', method='POST')
								.col-md-9
									.row.mt
										.col-md-12
											.form-group
												label.col-md-2.control-label(for='email') Email
												.col-md-4
													input.form-control(type='email', name='email', id='email', value='#{user.email}')
									.row.mt
										.col-md-12
											.form-group
												label.col-md-2.control-label(for='companyName') Company Name
												.col-md-4
													if typeof(user.company.companyName)=='undefined'
														input.form-control(type='companyName', name='companyName', id='companyName', value='')
													else
														input.form-control(type='companyName', name='companyName', id='companyName', value='#{user.company.companyName}')
									.row.mt
										.col-md-12
											.form-group
												label.col-md-2.control-label(for='companyDescription') Company Description
												.col-md-4
													if typeof(user.company.companyDescription)=='undefined'
														input.form-control(type='companyDescription', name='companyDescription', id='companyDescription', value='')
													else
														input.form-control(type='companyDescription', name='companyDescription', id='companyDescription', value='#{user.company.companyDescription}')
									br
									br
									br
									br
								.col-md-3
									.row.mt
										.col-md-9.col-md-offset-1
											.form-group
												.col-md-offset-2.col-md-4
													button.btn.btn.btn-primary.opt-btn-update(type='submit') Update Profile

						//- .page-header
							h3 Change Password

						//- form.form-horizontal(action='/account/password', method='POST')
							.form-group
								label.col-md-3.control-label(for='password') New Password
								.col-md-4
									input.form-control(type='password', name='password', id='password')
							.form-group
								label.col-md-3.control-label(for='confirmPassword') Confirm Password
								.col-md-4
									input.form-control(type='password', name='confirmPassword', id='confirmPassword')
							.form-group
								.col-md-offset-3.col-md-4
									button.btn.btn.btn-primary(type='submit') Change Password

						//- .page-header
						//- 	h3 Deactivate Account

						//- p You can deactivate your account.
						//- form(action='/account/deactivate', method='POST')
						//- 	button.btn.btn-danger(type='submit') Deactivate my account

				//- .page-header
				//-   h3 Linked Accounts

				//- if user.google
				//-   p: a.text-danger(href='/account/unlink/google') Unlink your Google account
				//- else
				//-   p: a(href='/auth/google') Link your Google account

				//- if user.facebook
				//-   p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
				//- else
				//-   p: a(href='/auth/facebook') Link your Facebook account