extends ../layout

block content
	.container
		if error.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') ×
				= error
		if errors && errors.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				for err in errors
					div= err.msg
		if success.length
			.alert.alert-success.animated.fadeInUp.opt-alert
				button.close(data-dismiss='alert') ×
				i.fa.fa-check
				= success
		if signUp.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Please fill out your profile before applying to jobs."
		.row.mt
			.profile-wrap
				.col-md-2.col-md-offset-1
					ul.nav.nav-tabs.tabs-left
						li.homelink.active
							a(href='#home', data-toggle='tab') Profile
						li.editlink
							a(href='#edit', data-toggle='tab') Edit	
						li.acctlink
							a(href='#settings', data-toggle='tab') Account Settings
						//- li
							a(href='#messages', data-toggle='tab') Messages
						//- li
							a(href='#settings', data-toggle='tab') Settings
				.col-md-9
					.tab-content
						#home.tab-pane.active
							.col-md-10
								.page-header
									.prof-label-header
										.row.mt
											.col-md-7
												.fg-h2-special
													h2 Profile
											.col-md-5
												.row.mt
													.col-md-6
														a.btn.btn-primary.opt-btn-prof.edit(href='#edit', data-toggle='tab') Edit Profile
													.col-md-6
														a.btn.btn-primary.opt-btn-prof(href="/auth/linkedin") Sync with Linkedin
								.row.mt
										.col-md-12
											.row.mt.prof-column
												.col-md-3
													if user.profile.picture
														img.prof-pic.pagination-centered(src='#{user.profile.picture}', height='130px')
													else
														img.prof-pic.pagination-centered(src='/images/linkedin-default.jpg', height='130px')
												.col-md-9
													.first-row
														.row.mt
															.col-md-2
																b.prof-top
																	| Name:
															.col-md-10
																| #{user.profile.name}
													.row.mt
														.col-md-2
															b.prof-top
																| Email:
														.col-md-10
															| #{user.email}
													.row.mt
														.col-md-2
															b.prof-top
																| Location:
														.col-md-10
															| #{user.profile.location}
											.prof-bottom-wrapper.special
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Education
														.row.mt.prof-row
															.col-md-12
																ul
																	if user.education[0]
																		if typeof(user.education[0])==='object'
																			each e in user.education
																				li
																					| #{e.schoolName} - #{e.degree}
																		else
																			li
																				| #{user.education}
																	else
																		li
																			| Not filled out
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b 
																	| Professional Experience
														.row.mt.prof-row
															.col-md-12
																ul
																	if user.positions[0]
																		if typeof(user.positions[0])==='object'
																			each p in user.positions
																				li
																					| #{p.title}, #{p.company}
																		else
																			li
																				| #{user.positions}
																	else
																			li 
																				| Not filled out
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Skills
														.row.mt.prof-row
															.col-md-12
																ul
																	li
																		if user.skills[0]							
																			- var length = user.skills.length - 1
																				each s,i in user.skills
																					| #{s.skill}
																					if i != (length)
																						| ,
																		else
																			li 
																				| Not filled out
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Years of Professional Experience: 
																| #{user.yearsOfExperience}
												br
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Industry
														.row.mt.prof-row
															.col-md-12
																ul
																	- var industries = ['Accounting','Advertising','Broadcasting','Consulting','Consumer Products','Education','Entertainment and Leisure','Financial Services','Food & Beverage','Health Care', 'Nonprofit','Pharmaceuticals','Publishing','Retail', 'Technology']
																		li
																			each industry in industries
																				if user.industryPreference.indexOf(industry)!=-1
																					| #{industry}, 
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Job Function
														.row.mt.prof-row
															.col-md-12
																ul
																	- var jobFunctions = ['Accounting', 'Business Development', 'Customer Service', 'Finance', 'Human Resources', 'Marketing', 'Operations', 'Other', 'Sales', 'Strategy']
																		li
																			each jobFunc in jobFunctions
																				if user.jobFunctionPreference.indexOf(jobFunc)!=-1
																					| #{jobFunc}, 
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Desired Project Length
														.row.mt.prof-row
															.col-md-12
																ul
																	- var projectLengths = ['< 1 week', '1-2 weeks', '2-3 weeks', '3-4 weeks', '1-2 months', '2-3 months', '3+ months']
																		li
																			each projLen in projectLengths
																				if user.desiredProjectLength.indexOf(projLen)!=-1
																					| #{projLen}, 
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Desired Hours Per Week
														.row.mt.prof-row
															.col-md-12
																ul
																	- var hoursPerWeek = ['< 10', '10-20', '20-30', '30-40']
																		li
																			each hours in hoursPerWeek
																				if user.desiredHoursPerWeek.indexOf(hours)!=-1
																					| #{hours}, 
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Check-in Frequency
														.row.mt.prof-row
															.col-md-12
																ul
																	- var checkinFrequency = ['Daily', 'Twice a week', 'Weekly', 'Monthly']
																		li
																			each checkin in checkinFrequency
																				if user.checkinFrequencyPreference.indexOf(checkin)!=-1
																					| #{checkin}, 
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Primary Communication Method
														.row.mt.prof-row
															.col-md-12
																ul
																	- var primaryComm = ['Email', 'Phone', 'In-Person']
																		li
																			each comm in primaryComm
																				if user.communicationPreferences.indexOf(comm)!=-1
																					| #{comm}, 
												//- .row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Resume
														.row.mt.prof-row
															.col-md-12
																a(href="/account/resume-download-id=#{user._id}") #{user.resume.name} fsf
												br
												br
												br
												br
												br
						#edit.tab-pane
							.col-md-10
								form.form-horizontal(action='/account/profile', method='POST', enctype="multipart/form-data")
									.page-header
										.prof-label-header
											.row.mt
												.col-md-7
													.fg-h2-special
														h2 Profile
												.col-md-5
													.form-group.fg-special
														.row.mt
															.col-md-6
																button.btn.btn-primary.opt-btn-prof(type='submit') Update Profile
															.col-md-6
																a.btn.btn-primary.opt-btn-prof(href="/auth/linkedin") Sync with Linkedin
									.row.mt
										.col-md-12
											.row.mt.prof-column
												.col-md-3
													if user.profile.picture
														img.prof-pic.pagination-centered(src='#{user.profile.picture}', height='130px')
													else
														img.prof-pic.pagination-centered(src='/images/linkedin-default.jpg', height='130px')
												.col-md-9
													.form-group
														label.col-md-2.control-label(for='name') Name
														.col-md-10
															input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
													.form-group
														label.col-md-2.control-label(for='email') Email
														.col-md-10
															input.form-control(type='email', name='email', id='email', value='#{user.email}')
													.form-group
														label.col-md-2.control-label(for='Location') Location
														.col-md-10
															input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
											.prof-bottom-wrapper
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='education') Education
															.row.mt
																.col-md-12
																	textarea.form-control(type='text', name='education', id='education')
																		if user.education[0]
																			if typeof(user.education[0])==='object'
																				each e in user.education
																					| #{e.schoolName} - #{e.degree}
																			else
																				li 
																					| #{user.education}
																		else
																			li
																				| Not filled out
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='positions') Professional Experience
															.row.mt
																.col-md-12
																	textarea.form-control.prof-experience(type='text', name='positions', id='positions')
																		if user.positions[0]
																			if typeof(user.positions[0])==='object'
																				each p in user.positions
																					| #{p.title},#{p.company}#{"\n"}
																			else
																				| #{user.positions}
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='skills') Skills
															.row.mt
																.col-md-12
																	textarea.form-control(type='text', name='skills', id='skills')
																		if user.skills[0]
																			- var length = user.skills.length - 1
																				each s,i in user.skills
																					| #{s.skill}
																					if i != (length)
																						| ,
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='yearsOfExperience') Years of Professional Experience
															.row.mt
																.col-md-12
																	input.form-control.years-input(type='text', name='yearsOfExperience', id='yearsOfExperience', value='#{user.yearsOfExperience}')
												.row.mt
														.col-md-12
															.form-group
																.row.mt
																	.col-md-12
																		label.control-label(for='industryPreference') Industry
																.row.mt
																	.col-md-12
																		.row.mt
																			.col-md-4
																				div
																					input(type='checkbox', name='industryPreference', value='Accounting', checked=user.industryPreference.indexOf('Accounting')!=-1)
																					|  Accounting
																				div
																					input(type='checkbox', name='industryPreference', value='Advertising', checked=user.industryPreference.indexOf('Advertising')!=-1)
																					|  Advertising
																				div
																					input(type='checkbox', name='industryPreference', value='Broadcasting', checked=user.industryPreference.indexOf('Broadcasting')!=-1)
																					|  Broadcasting
																				div
																					input(type='checkbox', name='industryPreference', value='Consulting', checked=user.industryPreference.indexOf('Consulting')!=-1)
																					|  Consulting
																				div
																					input(type='checkbox', name='industryPreference', value='Consumer Products', checked=user.industryPreference.indexOf('Consumer Products')!=-1)
																					|  Consumer Products
																			.col-md-4
																				div
																					input(type='checkbox', name='industryPreference', value='Education', checked=user.industryPreference.indexOf('Education')!=-1)
																					|  Education
																				div
																					input(type='checkbox', name='industryPreference', value='Entertainment & Leisure', checked=user.industryPreference.indexOf('Entertainment & Leisure')!=-1)
																					|  Entertainment & Leisure
																				div
																					input(type='checkbox', name='industryPreference', value='Financial Services', checked=user.industryPreference.indexOf('Financial Services')!=-1)
																					|  Financial Services
																				div
																					input(type='checkbox', name='industryPreference', value='Food & Beverage', checked=user.industryPreference.indexOf('Food & Beverage')!=-1)
																					|  Food & Beverage
																				div
																					input(type='checkbox', name='industryPreference', value='Health Care', checked=user.industryPreference.indexOf('Health Care')!=-1)
																					|  Health Care
																			.col-md-4
																				div
																					input(type='checkbox', name='industryPreference', value='Nonprofit', checked=user.industryPreference.indexOf('Nonprofit')!=-1)
																					|  Nonprofit
																				div
																					input(type='checkbox', name='industryPreference', value='Pharmaceuticals', checked=user.industryPreference.indexOf('Pharmaceuticals')!=-1)
																					|  Pharmaceuticals
																				div
																					input(type='checkbox', name='industryPreference', value='Publishing', checked=user.industryPreference.indexOf('Publishing')!=-1)
																					|  Publishing
																				div
																					input(type='checkbox', name='industryPreference', value='Retail', checked=user.industryPreference.indexOf('Retail')!=-1)
																					|  Retail
																				div
																					input(type='checkbox', name='industryPreference', value='Technology', checked=user.industryPreference.indexOf('Technology')!=-1)
																					|  Technology
																		//- - var industries = ['Accounting','Advertising','Broadcasting','Consulting','Consumer Products','Education','Financial Services','Food & Beverage','Health Care', 'Nonprofit','Pharmaceuticals','Publishing','Retail', 'Technology']
																		//- each industry, i in industries
																		//- 	div
																		//- 		input(type='checkbox', name='industryPreference', value=industry, checked=user.industryPreference.indexOf(industry)!=-1)
																		//- 		|  #{industry
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='jobFunctionPreference') Job Function
															.row.mt
																.col-md-12
																	.row.mt
																		.col-md-4
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Accounting', checked=user.jobFunctionPreference.indexOf('Accounting')!=-1)
																				|  Accounting
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Business Development', checked=user.jobFunctionPreference.indexOf('Business Development')!=-1)
																				|  Business Development
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Customer Service', checked=user.jobFunctionPreference.indexOf('Customer Service')!=-1)
																				|  Customer Service
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Finance', checked=user.jobFunctionPreference.indexOf('Finance')!=-1)
																				|  Finance
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Human Resources', checked=user.jobFunctionPreference.indexOf('Human Resources')!=-1)
																				|  Human Resources
																		.col-md-4
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Marketing', checked=user.jobFunctionPreference.indexOf('Marketing')!=-1)
																				|  Marketing
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Operations', checked=user.jobFunctionPreference.indexOf('Operations')!=-1)
																				|  Operations
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Other', checked=user.jobFunctionPreference.indexOf('Other')!=-1)
																				|  Other
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Sales', checked=user.jobFunctionPreference.indexOf('Sales')!=-1)
																				|  Sales
																			div
																				input(type='checkbox', name='jobFunctionPreference', value='Strategy', checked=user.jobFunctionPreference.indexOf('Strategy')!=-1)
																				|  Strategy
																//- - var jobFunctions = ['Accounting', 'Business Development', 'Cost Reduction', 'Customer Service', 'Finance', 'Human Resources', 'Marketing', 'Operations', 'Other', 'Sales', 'Strategy']
																	//- each jobFunc, i in jobFunctions											
																	//- 	div
																	//- 		input(type='checkbox', name='jobFunctionPreference', value=jobFunc, checked=user.jobFunctionPreference.indexOf(jobFunc)!=-1)
																	//- 		|  #{jobFunc}
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='desiredProjectLength') Desired Project Length
															.row.mt
																.col-md-12
																	.row.mt
																		.col-md-4
																			div
																				input(type='checkbox', name='desiredProjectLength', value='< 1 week', checked=user.desiredProjectLength.indexOf('< 1 week')!=-1)
																				|  < 1 week
																			div
																				input(type='checkbox', name='desiredProjectLength', value='1-2 weeks', checked=user.desiredProjectLength.indexOf('1-2 weeks')!=-1)
																				|  1-2 weeks
																			div
																				input(type='checkbox', name='desiredProjectLength', value='2-3 weeks', checked=user.desiredProjectLength.indexOf('2-3 weeks')!=-1)
																				|  2-3 weeks
																			div
																				input(type='checkbox', name='desiredProjectLength', value='3-4 weeks', checked=user.desiredProjectLength.indexOf('3-4 weeks')!=-1)
																				|  3-4 weeks																			
																		.col-md-4
																			div
																				input(type='checkbox', name='desiredProjectLength', value='1-2 months',checked=user.desiredProjectLength.indexOf('1-2 months')!=-1)
																				|  1-2 months
																			div
																				input(type='checkbox', name='desiredProjectLength', value='2-3 months', checked=user.desiredProjectLength.indexOf('2-3 months')!=-1)
																				|  2-3 months																		
																			div
																				input(type='checkbox', name='desiredProjectLength', value='3+ months', checked=user.desiredProjectLength.indexOf('3+ months')!=-1)
																				|  > 3 months																		
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='desiredHoursPerWeek') Desired Hours Per Week
															.row.mt
																.col-md-12
																	div
																		input(type='checkbox', name='desiredHoursPerWeek', value='<10', checked=user.desiredHoursPerWeek.indexOf('<10')!=-1)
																		|  < 10
																	div
																		input(type='checkbox', name='desiredHoursPerWeek', value='10-20', checked=user.desiredHoursPerWeek.indexOf('10-20')!=-1)
																		|  10-20
																	div
																		input(type='checkbox', name='desiredHoursPerWeek', value='20-30', checked=user.desiredHoursPerWeek.indexOf('20-30')!=-1)
																		|  20-30
																	div
																		input(type='checkbox', name='desiredHoursPerWeek', value='30-40', checked=user.desiredHoursPerWeek.indexOf('30-40')!=-1)
																		|  30-40
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='checkinFrequency') Check-in Frequency
															.row.mt
																.col-md-12
																	div
																		input(type='checkbox', name='checkinFrequency', value='Daily', checked=user.checkinFrequencyPreference.indexOf('Daily')!=-1)
																		|  Daily
																	div
																		input(type='checkbox', name='checkinFrequency', value='Twice a week', checked=user.checkinFrequencyPreference.indexOf('Twice a week')!=-1)
																		|  Twice a week
																	div
																		input(type='checkbox', name='checkinFrequency', value='Weekly', checked=user.checkinFrequencyPreference.indexOf('Weekly')!=-1)
																		|  Weekly
																	div
																		input(type='checkbox', name='checkinFrequency', value='Monthly', checked=user.checkinFrequencyPreference.indexOf('Monthly')!=-1)
																		|  Monthly																			
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='primaryComm') Primary Communication Method
															.row.mt
																.col-md-12
																	div
																		input(type='checkbox', name='communicationPreferences', value='Email', checked=user.communicationPreferences.indexOf('Email')!=-1)
																		|  Email
																	div
																		input(type='checkbox', name='communicationPreferences', value='Phone', checked=user.communicationPreferences.indexOf('Phone')!=-1)
																		|  Phone
																	div
																		input(type='checkbox', name='communicationPreferences', value='In-Person', checked=user.communicationPreferences.indexOf('In-Person')!=-1)
																		|  In-Person
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='resume') Resume Upload 
																		a(href="/account/resume-download-id=#{user._id}") #{user.resume.name}
															.row.mt
																.col-md-12
																	input(type="file", name="resume")

												//- .row.mt
												//- 	.col-md-12
												//- 		.form-group
												//- 			.row.mt
												//- 				.col-md-6.col-md-offset-1
												//- 					label.control-label(for='website') LinkedIn Profile
												//- 			.row.mt
												//- 				.col-md-6.col-md-offset-1
												//- 					input.form-control(type='text', name='website', id='website', value='#{user.linkedinURL}')
												br
												br
												br
												br
										//- .col-md-3
											.form-group
												.row.mt
													.col-md-12
														button.btn.btn.btn-primary.opt-btn-update(type='submit') Update Profile
												.row.mt
													.col-md-12
														a.btn.btn.btn-primary(href="/auth/linkedin") Sync with Linkedin
														//- a.btn.btn.btn-primary(href="/auth/linkedin",data-toggle='modal', data-target='#linkedInLoading') Sync with Linkedin
											//- #linkedInLoading.modal.fade(tabindex='-1', role='dialog', aria-labelledby='linkedInLoadingLabel', aria-hidden='true')
												.modal-dialog
													.modal-content
														.modal-header
															button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
															h4#linkedInLoadingLabel.modal-title Syncing with LinkedIn....
														.modal-body
															| ...
						#settings.tab-pane 
							.opt-login-wrapper
								.page-header
									h3 Change Password

								form.form-horizontal(action='/account/password', method='POST')
									.form-group
										label.col-md-3.control-label(for='password') New Password
										.col-md-4
											input.form-control(type='password', name='password', id='password')
									.form-group
										label.col-md-3.control-label(for='confirmPassword') Confirm Password
										.col-md-4
											input.form-control(type='password', name='confirmPassword', id='confirmPassword')
									.form-group
										.col-md-offset-3.col-md-4
											button.btn.btn.btn-primary(type='submit') Change Password
						//- #messages.tab-pane Messages Tab.
						//- #settings.tab-pane Settings Tab.
						//- .page-header
						//- 	h3 Deactivate Account

						//- p You can deactivate your account.
						//- form(action='/account/deactivate', method='POST')
						//- 	button.btn.btn-danger(type='submit') Deactivate my account

				//- .page-header
				//-   h3 Linked Accounts

				//- if user.google
				//-   p: a.text-danger(href='/account/unlink/google') Unlink your Google account
				//- else
				//-   p: a(href='/auth/google') Link your Google account

				//- if user.facebook
				//-   p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
				//- else
				//-   p: a(href='/auth/facebook') Link your Facebook account