extends ../layout

block content
	.container
		if error.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') ×
				= error
		if errors && errors.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				for err in errors
					div= err.msg
		if success.length
			.alert.alert-success.animated.fadeInUp.opt-alert
				button.close(data-dismiss='alert') ×
				i.fa.fa-check
				= success
		if companyError && companyError.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Fill out company information before posting jobs" 
		if signUp.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Sorry, businesses cannot apply to jobs at this time!"
		if first && first.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Fill out your profile."
		.row.mt
			.profile-wrap
				.col-md-2
					ul.nav.nav-tabs.tabs-left
						li.active
							a(href='#home', data-toggle='tab') Profile
						li
							a(href='#settings', data-toggle='tab') Account Settings
						//- li
							a(href='#messages', data-toggle='tab') Messages
						//- li
							a(href='#settings', data-toggle='tab') Settings
				.col-md-10
					.tab-content
						#home.tab-pane.active 
							.col-md-12
								form.form-horizontal(action='/account/profile', method='POST', enctype="multipart/form-data")
									.page-header
										.prof-label-header
											.row.mt
												.col-md-6
													.fg-h2-special
														h2 Company Profile
												.col-md-6
													.form-group.fg-special
														.row.mt
															.col-md-6
															.col-md-6
																button.btn.btn.btn-primary.opt-btn-prof(type='submit') Update Profile
									.row.mt
										.col-md-12
											.row.mt.prof-column
												.col-md-3
													if user.profile.picture
														if (user.profile.picture.indexOf('http')!=-1)
															img.prof-pic.pagination-centered(src='#{user.profile.picture}')
														else
															-var profLink = user.profile.picture;
															-profLink = profLink.split("public").pop();
															img.prof-pic.pagination-centered(src='#{profLink}')
													else
														img.prof-pic.pagination-centered(src='/images/business_profile.jpg')
													.row.mt
														.col-md-12
															.form-group
																.row.mt
																	.col-md-12
																		label.control-label(for='profilePicture') Profile Picture Upload
																.row.mt
																	.col-md-12
																		input(type="file", name="profilePicture")
												.col-md-9
													.form-group
														label.col-md-2.control-label(for='companyName') Name
														.col-md-10
															if typeof(user.company.companyName)=='undefined'
																input.form-control(type='companyName', name='companyName', id='companyName', value='')
															else
																input.form-control(type='companyName', name='companyName', id='companyName', value='#{user.company.companyName}')
													.form-group
														label.col-md-2.control-label(for='email') Email
														.col-md-10
															input.form-control(type='email', name='email', id='email', value='#{user.email}')
											.prof-bottom-wrapper
												.row.mt
													.col-md-12
														.form-group
															.row.mt
																.col-md-12
																	label.control-label(for='companyDescription') Company Description
															.row.mt
																.col-md-12
																	if typeof(user.company.companyDescription)=='undefined'
																		textarea.form-control(type='companyDescription', name='companyDescription', id='companyDescription')
																	else
																		textarea.form-control(type='companyDescription', name='companyDescription', id='companyDescription')
																			| #{user.company.companyDescription}
												br
												br
												br
												br
								//- .biz-prof-wrapper
									.page-header
										h3 Company Information

									form.form-horizontal(action='/account/profile', method='POST')
										.col-md-9
											.row.mt
												.col-md-12
													.form-group
														label.col-md-2.control-label(for='email') Email
														.col-md-4
															input.form-control(type='email', name='email', id='email', value='#{user.email}')
											.row.mt
												.col-md-12
													.form-group
														label.col-md-2.control-label(for='companyName') Company Name
														.col-md-4
															if typeof(user.company.companyName)=='undefined'
																input.form-control(type='companyName', name='companyName', id='companyName', value='')
															else
																input.form-control(type='companyName', name='companyName', id='companyName', value='#{user.company.companyName}')
											br
											br
											br
											br
										.col-md-3
											.row.mt
												.col-md-9.col-md-offset-1
													.form-group
														.col-md-offset-2.col-md-4
															button.btn.btn.btn-primary.opt-btn-update(type='submit') Update Profile
						#settings.tab-pane 
							.opt-login-wrapper
								.page-header
									h3 Change Password

								form.form-horizontal(action='/account/password', method='POST')
									.form-group
										label.col-md-3.control-label(for='password') New Password
										.col-md-4
											input.form-control(type='password', name='password', id='password')
									.form-group
										label.col-md-3.control-label(for='confirmPassword') Confirm Password
										.col-md-4
											input.form-control(type='password', name='confirmPassword', id='confirmPassword')
									.form-group
										.col-md-offset-3.col-md-4
											button.btn.btn.btn-primary(type='submit') Change Password
						//- #messages.tab-pane Messages Tab.
						//- #settings.tab-pane Settings Tab.
						//- .page-header
						//- 	h3 Deactivate Account

						//- p You can deactivate your account.
						//- form(action='/account/deactivate', method='POST')
						//- 	button.btn.btn-danger(type='submit') Deactivate my account