.container
	.row.mt.centered.opt-team-desc
		.prof-label-header
			.table-responsive
				table.table.table-hover
					thead
						tr
							th number
							th userType
							th Name
							th Email
							//- th industryPreference
							//- th jobFunctionPreference
							th LinkedIn
							th Number of Logins
							//- th Times Logged In
							th date created
					tbody.job-table
						if (users.length == 0)
							td No users
							td
							td
							td
							td
							td
							td
						else
							each u, i in users
								tr
									td #{i}
									td #{u.userType}
									td #{u.profile.name}
									td #{u.email}
									//- td #{u.industryPreference}
									//- td #{u.jobFunctionPreference}
									td 
										a(href="#{u.linkedinURL}", target="_blank") #{u.linkedinURL}
									td #{u.numberOfLogins}
									//- td
										if u.timesLoggedIn.length > 0
											each tli in u.timesLoggedIn
												-var tl = tli.replace(/(GMT-0500)/gm, "")
												| #{tl}
												br
									td #{u.dateCreated}