doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    title AthenaHire

    link(rel='shortcut icon', href='/images/favicon.ico')
    link(href='/css/lib/font-awesome.min.css', rel='stylesheet')
    link(href='/css/lib/animate.css', rel='stylesheet')

    link(href='/css/styles.css', rel='stylesheet')

    script(src='/js/lib/jquery.js')
    script(src='/js/lib/jquery_custom.js')
    script(src='/js/lib/bootstrap.js')
    script(src='/js/google_analytics.js')  
    script(src='/js/main.js')
  body
    .opt-navbar-wrapper
      .navbar.navbar-default.navbar-fixed-top.opt-header(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.opt-nav-text.navbar-brand(href='/') 
              //- img.opt-logo(src='/images/logo_2.png', alt='Opt-In Logo')
              img.opt-logo(src='/images/owl.png', alt='AthenaHire Logo')
              | AthenaHire
          .navbar-collapse.collapse
            .cust-navbar
              ul.nav.navbar-nav
                //- each nav in [{link: 'about', name: "About"}, {link: 'employ', name: "Employ"}, {link: 'empower', name: "Empower"}, {link: 'engage', name: "Engage"}]
                each nav in [{link: 'about', name: "How It Works"}, {link: 'employ', name: "Find a Project"}, {link: 'empower', name: "Post a Project"}]
                  li 
                    a.opt-nav-text(href='/#{nav.link}') #{nav.name}
              ul.nav.navbar-nav.navbar-right
                if !user
                  li(class=title=='Login')
                    a(href='/login') Login
                  li(class=title=='Create Account')
                    a(href='/signup') Create Account
                else if user.userType=='mom'
                  li.dropdown(class=title=='Account Management')
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      if user.profile.picture
                        img.header-prof-pic(src='#{user.profile.picture}')
                      else
                        img.header-prof-pic(src='/images/linkedin-default.jpg')
                      | #{user.profile.name || 'Profile'}&nbsp;
                      span.caret
                    ul.dropdown-menu
                      li: a(href='/account') My Account
                      li.divider
                      li: a(href='/employ') View Listings
                      li: a(href='/viewsavedjobs') View Saved Jobs
                      li.divider
                      li: a(href='/logout') Logout
                else
                  li.dropdown(class=title=='Account Management')
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      if user.profile.picture
                        img(src='#{user.profile.picture}')
                      else 
                        img.header-prof-pic(src='/images/linkedin-default.jpg')
                      | #{user.profile.name || 'Profile'}&nbsp;
                      span.caret
                    ul.dropdown-menu
                      li: a(href='/account') My Account
                      li.divider
                      li: a(href='/postjob') Post Job
                      li: a(href='/mylistings') View My Listings
                      li: a(href='/viewcandidates') Find Candidates
                      li.divider
                      li: a(href='/logout') Logout
    block content
    .footer
      .container
        .footer-content
          .row.mt
            .col-md-4
              p About Us
              ul
                li
                  a(href='/') AthenaHire
                li 
                  a(href='/team') Our Team 
            .col-md-4
              p Join Our Mailing List for Updates
              .form-wrapper
                form.form-inline.input-form(name="email", role="form", method="post",action="/subscribeEmailPost")
                  .form-group
                    label.sr-only(for='emailInput') Email address
                    input#userEmailInput.form-control(type='email', name="email", placeholder='Enter email')
                  button.btn.btn-default.opt-subscribe-btn(type='submit') Subscribe
            .col-md-4
              p
                | Contact Us
                address
                  | Farley Center - NUvention: Web
                  br
                  | 2133 Sheridan Road
                  br
                  | Evanston, IL 60208
              p
                | &copy; AthenaHire 2014

