div(id='#{jobApp.id}')
if user.userType == "mom"
  input#nameInput(type='hidden', placeholder='Name', value='#{user.profile.name}')
else
  input#nameInput(type='hidden', placeholder='Name', value='#{user.company.companyName}')
input(type='text', placeholder='Message', id="messageInput-#{jobApp.id}")

script(type='text/javascript').
  var myDataRef = new Firebase('https://athenahire.firebaseio.com/#{jobApp.id}');
  var jobAppID = '#{jobApp.id}';
  $('#messageInput-' + jobAppID).keypress(function (e) {
    if (e.keyCode == 13) {
      var name = $('#nameInput').val();
      var text = $('#messageInput-' + jobAppID).val();
      myDataRef.push({name: name, text: text});
      $('#messageInput-' + jobAppID).val('');
    }
  });

  myDataRef.on('child_added', function(snapshot) {
    var message = snapshot.val();
    displayChatMessage(message.name, message.text);
  });

  function displayChatMessage(name, text) {
    var identifier = "#{jobApp.id}";
    $('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#'+identifier));
    $('#'+identifier)[0].scrollTop = $('#'+identifier)[0].scrollHeight;
  };