.col-md-12
	p Saved and Applied to jobs will show up here
	.job-listing-wrapper
		if joblist
			each jobApp, i in joblist
				.row.mt
					.job-card
						.row.mt.job-card-heading
							.col-md-12
								h4
									| #{jobApp.job.jobName} - #{jobApp.job.companyName} - #{jobApp.submitted}
						.row.mt.job-card-description
							h5 Description
							.col-md-12
								| #{jobApp.job.jobDescription}
						.row.mt.job-card-other
							h5 Details
							.col-md-6
								b Industry: 
								| #{jobApp.job.industry}
								br
								b Job Function: 
								| #{jobApp.job.jobFunction}
								br
								b Skills Needed: 
								| #{jobApp.job.skillsNeeded}
								br
								b Contact Method: 
								| #{jobApp.job.primaryComm}
							.col-md-6
								b Project Length: 
								| #{jobApp.job.totalWeeks}
								br
								b Hours per week: 
								| #{jobApp.job.hoursPerWeek}
								br
								b Check-in Frequency: 
								| #{jobApp.job.checkinFrequency}
								br
								b Pay: 
								| #{jobApp.job.pay}
						.row.mt.job-card-buttons
							.col-md-2.col-md-offset-10
								a.btn.btn-success.btn-md.job-btn(href='/job/apply-#{jobApp.jobID}', role='button') Apply