.col-md-12
	.page-header
		.prof-label-header
			.row.mt
				.col-md-6
					.fg-h2-special
						h2 My Messages
				.col-md-6
	-var counter = 0;
	-var jobChats = [];
	each jobApp in jobAppArr
		if jobApp.chatRequested
			-jobChats.push(jobApp);
			-counter +=1;
	.opt-login-wrapper
		.table-responsive
			table.table.table-hover
				thead
					tr
						th.proj-title Project Title
						th Applicant Name
						th
				tbody.job-table
					if (jobChats.length == 0)
						td You have no messages.
						td #{jobAppArr.length}
						td
					else
						each jobAppWithChat, i in jobChats
							tr(type='button', class='jobappWithChat-row')
								td.proj-title
									| Chat for #{jobAppWithChat.job.jobName}
								td #{jobAppWithChat.user.profile.name}
								td
									a.btn.btn-success.btn-md.job-btn(href='/chat-#{jobAppWithChat.id}', target='_blank') View Messages
									//- .btn.btn-success.btn-md.job-btn(data-toggle='collapse', data-target='#msg-#{i}', id='view-message-#{jobAppWithChat.id}') View Messages
							//- tr(id="msg-#{i}").collapse.out
							//- 	td
							//- 		div.tab-pane(id="chat-#{jobAppWithChat.id}")
							//- 			include profile-chat.jade