extends ../layout

block content
	.container
		if success.length
			.alert.alert-success.animated.fadeInUp.opt-alert
				button.close(data-dismiss='alert') ×
				i.fa.fa-check
				= success		
		.job-listing-wrapper
			h2
				| Project Application
			.row.mt
				.row.mt.job-card-heading
					.col-md-12
						h4 
							| #{job.jobName} - #{job.companyName}
				.row.mt.job-card-description
					h5 Description
					.col-md-12
						| #{job.jobDescription}
				.row.mt.job-card-other
					h5 Details
					.col-md-6
						b Industry: 
						| #{job.industry}
						br
						b Job Function: 
						| #{job.jobFunction}
						br
						b Skills Needed: 
						| #{job.skillsNeeded}
					.col-md-6
						b Duration: 
						| #{job.duration}
						br
						b Hours per week: 
						| #{job.hoursPerWeek}
						br
						b Pay: 
						| #{job.pay}
		if jobApp && jobApp.submitted=='yes'
			| Relevant Job Experience: #{jobApp.relevantJobExperience}
			| Project Approach: #{jobApp.projectApproach}
		else
			form.form-horizontal(method='POST')
				.form-group
					label.col-md-2.control-label(for='relevantJobExperience') Relevant Experience
					.col-md-10
						textarea.form-control(type='textarea', name='relevantJobExperience', id='relevantJobExperience')
							if (jobApp)
								| #{jobApp.relevantJobExperience}
				.form-group
					label.col-md-2.control-label(for='projectApproach') Project Approach
					.col-md-10
						textarea.form-control(type='textarea', name='projectApproach', id='projectApproach')
							if (jobApp)
								| #{jobApp.projectApproach}

				button.btn.btn-primary.opt-btn-update(type='submit', formaction='/job/saveApplication-#{job.id}') Save
				button.btn.btn-primary.opt-btn-update(type='submit', formaction='/job/submitApplication-#{job.id}') Submit
		br
		br