extends ../layout

block content
	.container
		if success.length
			.alert.alert-success.animated.fadeInUp.opt-alert
				button.close(data-dismiss='alert') ×
				i.fa.fa-check
				= success
		.apply-job-wrapper
			.job-listing-wrapper
				.page-header
					h2
						| Project Application
				.row.mt
					.row.mt.job-card-heading
						.col-md-12
							h4
								| #{job.jobName} - #{job.companyName}
					.row.mt.job-card-description
						.col-md-12
							h4 Description
							| #{job.jobDescription}
					.row.mt.job-card-other
						.col-md-12
							h4 Details
					.row.mt.job-card-other
						.col-md-6
							b Industry: 
							| #{job.industry}
							br
							b Job Function: 
							| #{job.jobFunction}
							br
							b Skills Needed: 
							| #{job.skillsNeeded}
							br
							b Contact Method: 
							| #{job.primaryComm}
						.col-md-6
							b Project Length: 
							| #{job.totalWeeks}
							br
							b Hours per week: 
							| #{job.hoursPerWeek}
							br
							b Check-in Frequency: 
							| #{job.checkinFrequency}
							br
							b Pay: 
							| #{job.pay}
			if jobApp && jobApp.submitted=='yes'
				.pagebreak
				.row.mt
					.col-md-12
						.page-header
							b Relevant Experience
				.row.mt
					.col-md-10
						|	#{jobApp.relevantJobExperience}
				br
				.row.mt
					.col-md-12
						.page-header
							b Project Approach
				.row.mt
					.col-md-10
						|  #{jobApp.projectApproach}
				br
				label Chat Box
				#messagesDiv
				input#nameInput(type='hidden', placeholder='Name', value='#{user.profile.name}')
				input#messageInput(type='text', placeholder='Message')

				script(type='text/javascript').
					var myDataRef = new Firebase('https://athenahire.firebaseio.com/#{jobApp.id}');
					$('#messageInput').keypress(function (e) {
					if (e.keyCode == 13) {
						var name = $('#nameInput').val();
						var text = $('#messageInput').val();
						myDataRef.push({name: name, text: text});
						$('#messageInput').val('');
					}
					});

					myDataRef.on('child_added', function(snapshot) {
						var message = snapshot.val();
						displayChatMessage(message.name, message.text);
					});

					function displayChatMessage(name, text) {
						$('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
						$('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
					};	
			else
				.pagebreak
				.row.mt.job-card-other
					.col-md-12
						form.form-horizontal(method='POST')
							.row.mt
								.form-group
									.row.mt.job-card-other
										.col-md-12
											.page-header
												b Relevant Experience
									.col-md-10
										textarea.form-control.apply-job-textarea(type='textarea', name='relevantJobExperience', id='relevantJobExperience')
											if (jobApp)
												| #{jobApp.relevantJobExperience}
							.row.mt
								.form-group
									.row.mt.job-card-other
										.col-md-12
											.page-header
												b Project Approach
									.col-md-10
										textarea.form-control.apply-job-textarea(type='textarea', name='projectApproach', id='projectApproach')
											if (jobApp)
												| #{jobApp.projectApproach}
							.row
								button.btn.btn-primary.apply-job-btn(type='submit', formaction='/job/saveApplication-#{job.id}') Save
								button.btn.btn-primary.apply-job-btn(type='submit', formaction='/job/submitApplication-#{job.id}') Submit
		br
		br