extends ../layout

block content
	.container
		if success.length
			.alert.alert-success.animated.fadeInUp.opt-alert
				button.close(data-dismiss='alert') ×
				i.fa.fa-check
				= success		
		.job-listing-wrapper
			.row.mt.centered
				.col-lg-12
					h1 
						| Apply to this job!
			table.table.table-striped
				thead
					tr
						th Company
						th Job Title
						th Job Description
						th Date Submitted
					tbody
						tr
							td #{job.companyName}
							td #{job.jobName}
							td #{job.jobDescription}
							td #{job.dateCreated}
		form.form-horizontal(action='/job/saveApplication-#{job.id}', method='POST')
			.form-group
				label.col-md-2.control-label(for='relevantJobExperience') Relevant Experience
				.col-md-10
					textarea.form-control(type='textarea', name='relevantJobExperience', id='relevantJobExperience')
						if (jobApp)
							| #{jobApp.relevantJobExperience}
			.form-group
				label.col-md-2.control-label(for='projectApproach') Project Approach
				.col-md-10
					textarea.form-control(type='textarea', name='projectApproach', id='projectApproach')
						if (jobApp)
							| #{jobApp.projectApproach}

			button.btn.btn-primary.opt-btn-update(type='submit') Save
		//- a.btn.btn-primary.opt-btn-update(href='/job/submitApplication-#{job.id}', role='button') Submit
		br
		br