extends ../layout

block content
	.container
		if errors && errors.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				for error in errors
					div= error.msg
		.row.mt
			.col-md-10.col-md-offset-1
				.post-job-wrapper
					form.form-horizontal(name="JobPost", role="form", method="post",action="updateproject-#{job.id}")
						.row.mt.job-card-other.centered
							.col-md-12
								legend
									h2.centered Edit Project #{job.id}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='companyName') Company Name
									.col-md-8
										input#companyName.form-control(type='text', name='companyName', value='#{user.company.companyName}') 
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='website') Company Website
									.col-md-8
										input#website.form-control(type='text', name='website') 
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='jobName') Project Title
									.col-md-8
										input#jobName.form-control(type='text', name='jobName', value='#{job.jobName}')
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='description') Project Description
									.col-md-8
										textarea#description.form-control(type='text', name="description")
											| #{job.jobDescription}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='skillsNeeded') Skills Needed
									.col-md-8
										textarea#skillsNeeded.form-control(type='text', name="skillsNeeded")
											| #{job.skillsNeeded}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='industry') Industry
									.col-md-3
										select#industry.postjob.multiselect(multiple='multiple',name='industry')
											- var industries = ['Accounting','Advertising','Broadcasting','Consulting','Consumer Products','Education','Entertainment and Leisure','Financial Services','Food & Beverage','Health Care', 'Nonprofit','Pharmaceuticals','Publishing','Retail', 'Technology']
												each industry in industries
													option(name='industry',label='industry',value='#{industry}',selected=job.industry.indexOf(industry)!=-1) #{industry}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='jobFunction') Job Function
									.col-md-8
										select#jobFunction.postjob.multiselect(multiple='multiple',name='jobFunction')
											- var jobFunction = ['Accounting', 'Business Development', 'Customer Service', 'Finance', 'Human Resources', 'Legal', 'Marketing', 'Operations', 'Other', 'Sales', 'Strategy']
												each jobFunc in jobFunction
													option(name='jobFunction',label='jobFunction',value='#{jobFunc}',selected=job.jobFunction.indexOf(jobFunc)!=-1) #{jobFunc}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='totalWeeks') Project Length
									.col-md-3
										select#totalWeeks.postjob.multiselect(multiple='multiple',name='totalWeeks')
											- var projectLengths = ['< 1 week', '1-2 weeks', '2-3 weeks', '3-4 weeks', '1-2 months', '2-3 months', '3+ months','To Be Determined']
												each project in projectLengths
													option(name='totalWeeks',label='totalWeeks',value='#{project}',selected=job.totalWeeks.indexOf(project)!=-1) #{project}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='hoursPerWeek') Hours per week
									.col-md-3
										select#hoursPerWeek.postjob.multiselect(multiple='multiple',name='hoursPerWeek')
											- var hoursPerWeek = ['< 10', '10-20', '20-30', '30-40','To Be Determined']
												each hour in hoursPerWeek
													option(name='hoursPerWeek',label='hoursPerWeek',value='#{hour}',selected=job.hoursPerWeek.indexOf(hour)!=-1) #{hour}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='checkinFrequency') Check-in Frequency
									.col-md-3
										select#checkinFrequency.postjob.multiselect(multiple='multiple',name='checkinFrequency')
											- var checkinFrequency = ['Daily', 'Twice a week', 'Weekly', 'Monthly']
												each check in checkinFrequency
													option(name='checkinFrequency',label='checkinFrequency',value='#{check}',selected=job.checkinFrequency.indexOf(check)!=-1) #{check}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='primaryComm') Primary Communication Method
									.col-md-3
										select#primaryComm.postjob.multiselect(multiple='multiple',name='primaryComm')
											- var primaryComm = ['Email', 'Phone', 'In-Person']
												each comm in primaryComm
													option(name='primaryComm', label='primaryComm',value='#{comm}',selected=job.primaryComm.indexOf(comm)!=-1) #{comm}
						.row.mt.job-card-other
							.col-md-10.col-md-offset-1
								.form-group
									label.col-md-4.control-label(for='pay') Pay
									.col-md-3
										input#pay.form-control(type='text', name="pay", value='#{job.pay}')
						.row.mt.job-card-buttons.centered
							.col-md-10.col-md-offset-1
								.col-md-3.col-md-offset-4
									button.btn.btn-default.opt-post-job-btn(type='submit') Update
