extends ../layout

block content
	.tile-job
		.container
			.row.mt.centered
				.col-lg-12
					.job-header
						big
							h1 Job Opportunities
						small
							| See what opportunities await you
	.container
		.row.mt
			.col-md-2
				.job-listing-filter-wrapper
					b
						a(href='#', role='button') All Jobs
					br
					br
					b
						| Industry
					br
					a(href='#', role='button') Consumer products
					br
					a(href='#', role='button') Apparel
					br
					a(href='#', role='button') Other retail
					br
					a(href='#', role='button') Food and beverage
					br
					a(href='#', role='button') Entertainment and leisure
					br
					br
					b
						| Job Function
					br
					a(href='#', role='button') Public relations
					br
					a(href='#', role='button') Marketing
					br
					a(href='#', role='button') Strategy
					br

			.col-md-10
				.row.mt
					.job-listing-filter-wrapper
						//- .job-filter-breadcrumbs
						b
							| Viewing all jobs
				.job-listing-wrapper
					each job, i in joblist
						.row.mt
							.job-card
								.row.mt.job-card-heading
									.col-md-12
										h4 
											| #{job.jobName} - #{job.companyName}
								.row.mt.job-card-description
									h5 Description
									.col-md-12
										| #{job.jobDescription}
								.row.mt.job-card-other
									h5 Details
									.col-md-6
										b Industry: 
										| #{job.industry}
										br
										b Job Function: 
										| #{job.jobFunction}
										br
										b Skills Needed: 
										| #{job.skillsNeeded}
									.col-md-6
										b Duration: 
										| #{job.duration}
										br
										b Hours per week: 
										| #{job.hoursPerWeek}
										br
										b Pay: 
										| #{job.pay}
								.row.mt.job-card-buttons
									.col-md-12.col-md-offset-10
										if typeof(user)==='undefined'
											a.btn.btn-success.btn-md.job-btn(href='/signup', role='button') Sign Up To Apply!
										else
											a.btn.btn-success.btn-md.job-btn(href='/job/apply-#{job.id}', role='button') Apply
											a.btn.btn-success.btn-md.job-btn(href='/job/save-#{job.id}', role='button') Save
							
