extends ../layout

block content
	.container
		h2 Job Listings
		p
			| View all of the current job postings
		br
		div.container
			div.content
				table.table.table-striped
					thead
						tr
							th Company
							th Job Title
							th Job Description
							th Date Submitted
							th Apply
					tbody
					each job, i in joblist
						tr
							td #{job.companyName}
							td #{job.jobName}
							td #{job.jobDescription}
							td #{job.dateCreated}
							td 
								a(href="/job/apply-#{job.id}") Apply