extends ../layout

block content
	.tile-job
		.container
			.row.mt.centered
				.col-lg-12
					.job-header
						big
							h1 Job Opportunities
						small
							| See what opportunities await you
	.container
		.row.mt
			.col-md-2
				.job-listing-filter-wrapper
					b
						a(href='/employ', role='button') All Jobs
					br
					br
					b
						| Industry
					br
					select.industry.multiselect(multiple='multiple')
						- var industries = ['Accounting','Advertising','Broadcasting','Consulting','Consumer Products','Education','Financial Services','Food & Beverage','Health Care', 'Nonprofit','Pharmaceuticals','Publishing','Retail', 'Technology']
							each industry in industries
								option(value='#{industry}') #{industry}
							//- a(href='/employ?industry=#{industry}', role='button') #{industry}
					//- br
					//- a(href='/employ?industry=consumer-products', role='button') Consumer products
					//- br
					//- a(href='/employ?industry=apparel', role='button') Apparel
					//- br
					//- a(href='/employ?industry=other-retail', role='button') Other retail
					//- br
					//- a(href='/employ?industry=food-and-beverage', role='button') Food and beverage
					//- br
					//- a(href='/employ?industry=entertainment-and-leisure', role='button') Entertainment and leisure
					br
					br
					b
						| Job Function
					br
					select.jobFunction.multiselect(multiple='multiple')
						- var jobFunctions = ['Accounting', 'Business Development', 'Cost Reduction', 'Customer Service', 'Finance', 'Human Resources', 'Marketing', 'Operations', 'Other', 'Sales', 'Strategy']
							each jobFunc in jobFunctions
								option(value='#{jobFunc}') #{jobFunc}
								//- a(href='/employ?jobfunction=#{jobFunc}', role='button') #{jobFunc}
					//- br
					//- a(href='/employ?jobfunction=public-relations', role='button') Public relations
					//- br
					//- a(href='/employ?jobfunction=Marketing', role='button') Marketing
					//- br
					//- a(href='/employ?jobfunction=strategy', role='button') Strategy
					br
					br
					b
						| Project Length
					br
					select.projectLength.multiselect(multiple='multiple')
						- var projectLengths = ['< 1 week', '1 - 2 weeks', '2 - 3 weeks', '3 - 4 weeks', '1 - 2 months', '2 - 3 months', '> 3 months']
							each project in projectLengths
								option(value='#{project}') #{project}
					br
					br
					b
						| Hours Per week
					br
					select.hoursPerWeek.multiselect(multiple='multiple')
						- var hoursPerWeeks = ['< 10', '10 - 20', '20 - 30', '30 - 40']
							each hour in hoursPerWeeks
								option(value='#{hour}') #{hour}
					br
					br
					b
						| Check-in Frequency
					br
					select.checkinFrequency.multiselect(multiple='multiple')
						- var checkinFrequency = ['Daily', 'Twice a week', 'Weekly', 'Monthly']
							each check in checkinFrequency
								option(value='#{check}') #{check}
					br
					br
					b
						| Contact Method
					br
					select.communicationPreferences.multiselect(multiple='multiple')
						- var communicationPreferences = ['Email', 'Phone', 'In-Person']
							each comm in communicationPreferences
								option(value='#{comm}') #{comm}
					br
					br
					a.btn.btn-success.update-button
						| Update Filters


			.col-md-10
				.row.mt
					//- .job-listing-filter-wrapper
						b
							| Viewing all jobs
				.job-listing-wrapper
					each job, i in joblist
						.row.mt
							.job-card
								.row.mt.job-card-heading
									.col-md-12
										h4 
											| #{job.jobName} - #{job.companyName}
								.row.mt.job-card-description
									h5 Description
									.col-md-12
										| #{job.jobDescription}
								.row.mt.job-card-other
									h5 Details
									.col-md-6
										b Industry: 
										| #{job.industry}
										br
										b Job Function: 
										| #{job.jobFunction}
										br
										b Skills Needed: 
										| #{job.skillsNeeded}
									.col-md-6
										b Duration: 
										| #{job.duration}
										br
										b Hours per week: 
										| #{job.hoursPerWeek}
										br
										b Pay: 
										| #{job.pay}
								.row.mt.job-card-buttons
									.col-md-2.col-md-offset-10
										if typeof(user)==='undefined'
											a.btn.btn-success.btn-md.job-btn(href='/signup', role='button') Sign Up
										else
											a.btn.btn-success.btn-md.job-btn(href='/job/apply-#{job.id}', role='button') Apply
											a.btn.btn-success.btn-md.job-btn(href='/job/save-#{job.id}', role='button') Save
							
