extends ../layout

block content
	.opt-login-wrapper
		.tile-project-detail 
			.container
				.row.mt.centered
					.col-lg-12
						.job-header
							big
								h1 Project Description
		.container
			.apply-job-wrapper
				.job-listing-wrapper
					.row.mt
						.row.mt.job-card-heading
							.col-md-12
								h4
									| #{job.jobName} - #{job.companyName}
						.row.mt.job-card-description
							.col-md-12
								h4 Description
								| #{job.jobDescription}
						.row.mt.job-card-other
							.col-md-12
								h4 Details
						.row.mt.job-card-other
							.col-md-6
								b Industry: 
								| #{job.industry}
								br
								b Job Function: 
								| #{job.jobFunction}
								br
								b Skills Needed: 
								| #{job.skillsNeeded}
								br
								b Contact Method: 
								| #{job.primaryComm}
							.col-md-6
								b Project Length: 
								| #{job.totalWeeks}
								br
								b Hours per week: 
								| #{job.hoursPerWeek}
								br
								b Check-in Frequency: 
								| #{job.checkinFrequency}
								br
								b Pay: 
								| #{job.pay}
					.row.mt
						.col-md-12
							br
							| Interested? 
							a.btn.btn-success.btn-md.job-btn(href='/login', role='button') Login to apply
			br
			br