extends ../layout

block content
	.tile-job
		.container
			.row.mt.centered
				.col-lg-12
					.job-header
						big
							h1 Viewing Application
	if jobApp.length==0
		.container
			.job-listing-wrapper
				.row.mt
						h4 There are no applications yet.
	else
		.container
			.job-listing-wrapper
				-var jobApplicant = jobApp.user
					.row.mt
						.job-card
							.row.mt.job-card-heading
								.row
									.col-md-5
										h2.appName #{jobApplicant.profile.name}
									.col-md-7
										h2.pull-right
											a.btn.btn-success.btn-md.job-btn.chat-btn(href='/initiate-chat-#{jobApp.id}', role='button') Start a Chat
								.row.mt
										.col-md-12
											.row.mt.prof-column
												.col-md-3
													if jobApplicant.profile.picture
														img.prof-pic.pagination-centered(src='#{jobApplicant.profile.picture}', height='130px')
													else
														img.prof-pic.pagination-centered(src='/images/linkedin-default.jpg', height='130px')
												.col-md-9
													.first-row
														.row.mt
															.col-md-2
																b.prof-top
																	| Name:
															.col-md-10
																| #{jobApplicant.profile.name}
													.row.mt
														.col-md-2
															b.prof-top
																| Email:
														.col-md-10
															| #{jobApplicant.email}
													.row.mt
														.col-md-2
															b.prof-top
																| Location:
														.col-md-10
															| #{jobApplicant.profile.location}
											.prof-bottom-wrapper.special
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Education:
														.row.mt.prof-row
															.col-md-12
																ul
																	if jobApplicant.education[0]
																		if typeof(jobApplicant.education[0])==='object'
																			each e in jobApplicant.education
																				li
																					| #{e.schoolName} - #{e.degree}
																					if e.startDate && e.endDate
																						| #{e.startDate} - #{e.endDate}
																		else
																			li
																				| #{jobApplicant.education}
																	else
																		li
																			| Not filled out
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b 
																	| Professional Experience:
														.row.mt.prof-row
															.col-md-12
																ul
																	if jobApplicant.positions[0]
																		if typeof(jobApplicant.positions[0])==='object'
																			each p in jobApplicant.positions
																				li
																					| #{p.title}, #{p.company}
																		else
																			li
																				| #{jobApplicant.positions}
																	else
																			li 
																				| Not filled out
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Skills:
														.row.mt.prof-row
															.col-md-12
																ul
																	li
																		if jobApplicant.skills[0]							
																			- var length = jobApplicant.skills.length - 1
																				each s,i in jobApplicant.skills
																					| #{s.skill}
																					if i != (length)
																						| , 
																		else
																			li 
																				| Not filled out
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Years of Professional Experience:
																ul
																	li 
																		| #{jobApplicant.yearsOfExperience}
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Project Approach:
																div
																	| #{jobApp.projectApproach}
																br
												.row.mt
													.col-md-12
														.row.mt.prof-row
															.col-md-12
																b
																	| Relevant Job Experience:
																div
																	| #{jobApp.relevantJobExperience}
												.row
													.col-md-6
														//- a.btn.btn-success.btn-md.job-btn(href='/initiate-chat-#{jobApp.id}', role='button') Chat
													.col-md-6
													

				//- label Chat Box
				//- #messagesDiv
				//- input#nameInput(type='hidden', placeholder='Name', value='#{user.company.companyName}')
				//- input#messageInput(type='text', placeholder='Message')
				//- script(type='text/javascript').
				//- 	var myDataRef = new Firebase('https://athenahire.firebaseio.com/#{jobApp.id}');
				//- 	$('#messageInput').keypress(function (e) {
				//- 	if (e.keyCode == 13) {
				//- 		var name = $('#nameInput').val();
				//- 		var text = $('#messageInput').val();
				//- 		myDataRef.push({name: name, text: text});
				//- 		$('#messageInput').val('');
				//- 	}
				//- 	});

				//- 	myDataRef.on('child_added', function(snapshot) {
				//- 		var message = snapshot.val();
				//- 		displayChatMessage(message.name, message.text);
				//- 	});

				//- 	function displayChatMessage(name, text) {
				//- 		$('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
				//- 		$('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
				//- 	};	
