extends ../layout

block content
	.tile-job
		.container
			.row.mt.centered
				.col-lg-12
					.job-header
						big
							h1 My Listings
	if joblist.length==0
		.container
			.job-listing-wrapper
				.row.mt
						h4 You haven't posted any jobs yet!
	else
		.container
			.job-listing-wrapper
				each job, i in joblist
					.row.mt
						.job-card
							.row.mt.job-card-heading
								.col-md-12
									h4 
										| #{job.jobName} - #{job.companyName}
							.row.mt.job-card-description
								h5 Description
								.col-md-12
									| #{job.jobDescription}
							.row.mt.job-card-other
								h5 Details
								.col-md-6
									b Industry: 
									| #{job.industry}
									br
									b Job Function: 
									| #{job.jobFunction}
									br
									b Skills Needed: 
									| #{job.skillsNeeded}
								.col-md-6
									b Duration: 
									| #{job.duration}
									br
									b Hours per week: 
									| #{job.hoursPerWeek}
									br
									b Pay: 
									| #{job.pay}
							.row.mt.job-card-buttons
								.col-md-12.col-md-offset-10
									a.btn.btn-success.btn-md.job-btn(href='/job/update-#{job.id}', role='button') Update
									a.btn.btn-success.btn-md.job-btn(href='/job/delete-#{job.id}', role='button') Delete
